@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Signika:wght@300;400;500;700&display=swap");
:root {
  --main-font: "Roboto", sans-serif;
  --titles: "Signika", sans-serif;
  --smallTitles: "Gabriola", sans-serif;
  --fruit-box: hsl(358, 90%, 65%);
  --vegi-box: hsl(46, 89%, 52%);
  --ffood-box: hsl(128, 59%, 51%);
  --dessert-box: hsl(197, 74%, 51%);
  --drink-box: hsl(351, 91%, 95%);
  --green: hsl(85, 55%, 46%);
  --orange: hsl(32, 93%, 59%);
  --links-menu: hsl(0, 0%, 20%);
  --mini-footer: hsl(0, 2%, 8%);
  --fields: hsl(0, 0%, 27%);
  --light-gray: hsl(0, 0%, 95%);
  --links-footer: hsl(0, 0%, 60%);
  --line: hsl(0, 0%, 88%);
  --post: hsl(0, 0%, 40%);
  --gradient-orange: #c57d0e 0%, #c67f10 18.4%, #cd8e1f 32.34%, #d39a26 74.19%,
    #d09424 80.61%, #c88316 90.94%, #c07309 100%;
  --gradient-green: #37c50e 0%, #5ec610 18.4%, #52cd1f 32.34%, #88d326 74.19%,
    #7ad024 80.61%, #3ec816 90.94%, #09c01b 100%;
}

.main__top, .main__content, .categories__container, .header .navbar__container, .header .slider {
  padding: 1rem 3rem;
}

.title, .title__option, .header .navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__content, .main__description, .categories__container {
  display: grid;
}

.categories__box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.main__content, .categories__container {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.mtbmd {
  margin: 2rem 0;
}

.mtblg {
  margin: 5rem 0;
}

.mtmd {
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--links-menu);
}

@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"), url("gabriola Font Download.woff") format("woff");
}
.header .topbar {
  background-color: var(--light-gray);
}
.header .topbar__container {
  display: flex;
  padding: 1.5rem 3rem;
  align-items: center;
  justify-content: space-between;
}
.header .topbar__info {
  display: flex;
  align-items: center;
}
.header .topbar__info--text {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  letter-spacing: 0.03rem;
}
.header .topbar__info--text a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
.header .topbar__info--text small {
  font-size: 1rem;
  font-weight: 400;
  color: var(--links-menu);
}
.header .topbar__info .zmdi {
  font-size: 2.2rem;
  color: var(--green);
}
.header .topbar__right {
  display: flex;
  font-size: 2.2rem;
}
.header .topbar__right a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.header .topbar__right a:not(:last-child) {
  margin-right: 2rem;
}
.header .topbar__right a:nth-child(2) :after {
  content: "0";
  background-color: var(--green);
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--links-menu);
  border-radius: 100%;
  position: absolute;
  top: 9px;
  right: -1rem;
  justify-content: center;
}
.header .topbar__right a:nth-child(3) :after {
  content: "0";
  background-color: var(--green);
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--links-menu);
  border-radius: 100%;
  position: absolute;
  top: 9px;
  right: -1rem;
  justify-content: center;
}
.header .navbar__menu {
  background: transparent;
  border: 0;
  font-size: 3.4rem;
  font-weight: 400;
  color: var(--links-menu);
}
.header .slider .slide {
  min-height: 53.74rem;
  border-radius: 1.1rem;
  padding: 0 1rem;
  padding-top: 3rem;
}
.header .slider .slide--1 {
  background: linear-gradient(var(--gradient-orange));
}
.header .slider .slide--1 p {
  font-size: 2.1rem;
  font-weight: 400;
  font-family: var(--smallTitles);
  text-transform: capitalize;
  color: #fff;
}
.header .slider .slide--1 .h2 {
  font-size: 2.7rem;
  font-weight: 700;
  font-family: var(--titles);
  text-transform: uppercase;
  color: #fff;
}
.header .slider .slide--1 .h1 {
  font-size: 4.4rem;
  font-weight: 700;
  font-family: var(--titles);
  text-transform: uppercase;
  color: var(--green);
  line-height: 3.42rem;
}
.header .slider .slide--2 {
  background: linear-gradient(var(--gradient-green));
}
.header .slider .slide--2 p {
  font-size: 2.1rem;
  font-weight: 400;
  font-family: var(--smallTitles);
  text-transform: capitalize;
  color: #fff;
}
.header .slider .slide--2 .h2 {
  font-size: 2.7rem;
  font-weight: 700;
  font-family: var(--titles);
  text-transform: uppercase;
  color: #fff;
}
.header .slider .slide--2 .h1 {
  font-size: 4.4rem;
  font-weight: 700;
  font-family: var(--titles);
  text-transform: uppercase;
  color: var(--orange);
  line-height: 3.42rem;
}

.categories__container div:nth-child(1) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url(../images/dessert.jpg);
}
.categories__container div:nth-child(1)::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.78;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.categories__container div:nth-child(1)::after {
  background-color: var(--fruit-box);
}
.categories__container div:nth-child(2) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url(../images/vegi-salad.jpg);
}
.categories__container div:nth-child(2)::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.78;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.categories__container div:nth-child(2)::after {
  background-color: var(--vegi-box);
}
.categories__container div:nth-child(3) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url(../images/fast-food.jpg);
}
.categories__container div:nth-child(3)::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.78;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.categories__container div:nth-child(3)::after {
  background-color: var(--ffood-box);
}
.categories__container div:nth-child(4) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url(../images/dessert.jpg);
}
.categories__container div:nth-child(4)::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.78;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.categories__container div:nth-child(4)::after {
  background-color: var(--dessert-box);
}
.categories__box {
  border-radius: 0.5rem;
  padding: 2rem 1.2rem;
}
.categories__box .h4 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--titles);
  text-transform: uppercase;
  color: #fff;
  z-index: 10;
}
.categories__box p {
  font-size: 1.5rem;
  font-family: var(--main-font);
  color: #fff;
  font-style: italic;
  line-height: 2rem;
  z-index: 10;
}

.main__content {
  row-gap: 9rem;
}
.main__item {
  width: 16rem;
  height: 15rem;
  position: relative;
  transition: all 0.3s linear;
  overflow-x: clip;
}
.main__item:hover .main__icons {
  transform: translateX(0);
}
.main__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  transition: all 0.3s linear;
}
.main__icons > *:not(:last-child) {
  margin-bottom: 1rem;
}
.main__icons__link {
  font-size: 2.1rem;
  text-decoration: none;
  color: #fff;
}
.main__description {
  margin-top: 1rem;
  row-gap: 1rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.main__description .titleProduct {
  font-weight: 700;
  font-size: 1.3rem;
}
.main__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__separator {
  width: 6rem;
  height: 3px;
  background-color: var(--orange);
  margin: 0 auto;
}

.title {
  position: relative;
}
.title h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--links-menu);
  font-family: var(--titles);
  text-transform: uppercase;
}
.title .divider {
  width: 66%;
  height: 1.5px;
  background-color: var(--light-gray);
  position: absolute;
  bottom: -1rem;
}
.title .divider::before {
  content: "";
  width: 73%;
  height: 2px;
  background-color: var(--green);
  position: absolute;
}
.title i {
  font-size: 2.2rem;
}
.title span {
  font-size: 1rem;
}
.title__option {
  align-items: center;
  background-color: transparent;
  border: 0;
  outline: none;
}
.title__option:hover {
  cursor: pointer;
}
.title__option i {
  margin-right: 0.5rem;
}

.btn__slider {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  background-color: var(--orange);
  color: #fff;
  z-index: 10;
}
.btn__slider:hover {
  cursor: pointer;
}

.btn__main {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  color: var(--green);
  z-index: 10;
}
.btn__main:hover {
  cursor: pointer;
}

.owl-dot.active > span {
  background-color: var(--orange) !important;
}

.owl-dot > span {
  border: 2px solid var(--orange) !important;
  background-color: transparent !important;
}