//
// DEFINING FONTS FROM GOOGLE
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Signika:wght@300;400;500;700&display=swap");

//
@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"), url("gabriola Font Download.woff") format("woff");
}
