@use "../abstract/variables" as *;
@use "../abstract/mixin" as *;

.header {
  .topbar {
    background-color: var(--light-gray);
    &__container {
      display: flex;
      padding: 1.5rem 3rem;
      align-items: center;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      align-items: center;
      &--text {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
        letter-spacing: 0.03rem;

        a {
          color: inherit;
          text-decoration: none;
          font-weight: map-get($fontWeight, bold);
        }
        small {
          @include fontStyle(small, regular, main);
        }
      }
      .zmdi {
        font-size: map-get($fontSize, icons);
        color: var(--green);
      }
    }

    &__right {
      display: flex;
      font-size: map-get($fontSize, icons);

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      a:nth-child(2) {
        @include notify;
      }
      a:nth-child(3) {
        @include notify;
      }
    }
  }

  .navbar {
    &__container {
      @extend %container;
      @extend %dflex;
    }

    &__menu {
      background: transparent;
      border: 0;
      @include fontStyle(btnMenu, regular, main);
    }
  }

  .slider {
    @extend %container;

    .slide {
      min-height: 53.74rem;
      border-radius: 1.1rem;
      padding: 0 1rem;
      padding-top: 3rem;

      &--1 {
        @include background(1);
        @include contentSlider(1);
      }
      &--2 {
        @include background(2);
        @include contentSlider(2);
      }
    }
  }
}
